<div class="row mt-4">
  <div class="col-12 text-center mb-3">
    <h1>Entrar</h1>
  </div>

  <div class="col-md-6 offset-md-3 col-xs-12">
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <%= form_for :session, url: entrar_path, method: :post do |f| %>
      <div class="form-group mb-3">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :password, 'Senha' %>
        <%= f.password_field :password, placeholder: 'Senha', class: 'form-control' %>
        <%= link_to "Esqueceu sua senha?", password_reset_path %>
      </div>

      <div class="d-flex justify-content-between">
        <%= f.submit 'Entrar', class: 'btn btn-primary' %>
        <%= link_to 'Voltar', root_url, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
