
<div class="row mt-4">
    <div class="col-12 text-center mb-3">
      <h1>Alterar Senha</h1>
    </div>
  
    <div class="col-md-6 offset-md-3 col-xs-12">
      <%= form_for current_user, url: update_password_user_path(current_user), method: :patch do |f|%>
      <%= render 'layouts/error_messages', object: f.object %>
      <div class="mb-3">
        <%= f.label :current_password, "Senha Atual" %>
        <%= f.password_field :current_password, class: "form-control" %>
      </div>
    
      <div class="mb-3">
        <%= f.label :password, "Nova Senha" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
    
      <div class="mb-3">
        <%= f.label :password_confirmation, "Confirme a Nova Senha" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    
      <%= f.submit "Atualizar Senha", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>