<div class="container mt-5 my-custom-style" style="margin-top: 0em !important;">
  <h1 class="col-12 text-center mb-3">Postagens</h1>
    <div class="row justify-content-center">
      <% @posts.each do |post| %>
        <div class="col-md-8 mb-4">
          <!-- Div principal do post -->
          <div class="card border-primary shadow">
            <div class="card-header bg-dark text-white text-center" id="titulo">
              <h3 class="mb-0"><%= post.title %></h3>
              <% if user_signed_in? && post_user(post) %>
              <div class="d-flex justify-content-end">
                  <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-list" style="font-size: 20px;"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><%= link_to 'Editar Post', edit_post_path(post), class: 'dropdown-item' %></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <%= form_with url: post_path(post), method: :delete, data: {turbo: false, confirm: 'Tem certeza que deseja deletar este post?' }, class: 'inline', local: true do %>
                      <%= submit_tag 'Deletar Post', class: 'dropdown-item' %>
                    <% end %>
                    </li>
                  </ul>
              </div>
              
              <% end %>
            </div>
            <div class="card-body">
              <p class="card-text"><%= simple_format(post.content)%></p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between align-items-center">
              <small>Publicado por: <%= post.user.name %> em <%= post.created_at.strftime('%d/%m/%Y') %></small>
              <!-- Ícone de comentário -->
              <%= link_to post_path(post), class: "btn btn-outline-primary btn-sm" do %>
              <i class="bi bi-chat"></i> Comentários
             <% end %>
              
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
    <!-- Paginação -->
    <div class="d-flex justify-content-center mt-4 ">
      <%= paginate @posts %>
    </div>
    
  </div>
  